<app-account>
  <ng-container content>
    <form [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="auto" appearance="outline">
          <mat-label>Destination account</mat-label>
          <input matInput min="0" formControlName="to" />
          <mat-error *ngFor="let error of form.controls.to.errors | keyvalue">{{
            valMsgs.to[error.key]
          }}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline">
          <mat-label>ETH Amout</mat-label>
          <input type="number" matInput min="0" formControlName="amount" />
          <mat-error
            *ngFor="let error of form.controls.amount.errors | keyvalue"
            >{{ valMsgs.amount[error.key] }}</mat-error
          >
        </mat-form-field>

        <pre>{{ form.errors | json }}</pre>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <button mat-raised-button [disabled]="!form.valid" (click)="transfer()">
      <mat-icon *ngIf="!form.valid">lock</mat-icon>
      <mat-icon *ngIf="form.valid">input</mat-icon>
      Ether
    </button>
    <button mat-raised-button (click)="reset()">Reset</button>
  </ng-container>
</app-account>
